@charset "utf-8";
@font-face{
    font-family:'Roboto', sans-serif;
    src: url(../fontes/Roboto-Light.ttf);
}

*, 
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --cor-azul-claro:#00B4D8;
    --cor-azul-escuro:#003057;
    --cor-amarelo-escuro:#F29F05;
    --cor-laranja:#F23005;
    --cor-rosa:#F25444;
    --cor-fonte1:#000000; 
    --cor-fonte2:#FFFFFF;   
    --cor-fonte3:#003057;
    --fonte: 'Roboto', arial, sans-serif;
}

html{
    font-size:62.5%;
}

body{
    font-family:var(--fonte);
    color:var(--cor-fonte);
    font-size:1.6rem;
    @font-face{
    font-family:'Roboto', sans-serif;
    src: url(../fontes/Roboto-Light.ttf);
}

}

img{
    max-width:100%;
}

#container{
        background-color: var(--cor-amarelo-escuro);
        display:flex;
        justify-content:space-between;
        align-items: center;
}

#container > div.container-conteudo{
    margin-right:20px;
}

.servicos{
    background-color: var(--cor-amarelo-escuro);
    border-top:15px solid var(--cor-amarelo-escuro);
}

header{
    background:var(--cor-azul-claro);
    min-height:215px;
    padding-top:50px;
}

header .logo{
    display:flex;
    width:100%;
    height:100px;
}

header .logo-alt{
    display:none;
}

main .menu{
    background:var(--cor-azul-escuro);
    min-height:55px;
}

main .menu > ul{
    display:flex;
    justify-content:space-between;
    align-items: center;
    list-style:none;
    font-size:1.4rem;
    padding: 2rem;
}

main .menu a{
    color:var(--cor-fonte2);
    text-decoration:none;
    font-weight:bold;
    
    
}

main .menu a:hover,
main .menu a.atual
{
    color:var(--cor-laranja);
    border-bottom: .4rem solid var(--cor-laranja);

}

.botao{
    background-color:var(--cor-amarelo-escuro);
    color: var(--cor-fonte1);
    text-decoration: none;
    font-weight: bold;
       
}

.botao:hover{
    background-color:#f29f05ee;
    
}
.botao-passagem{
    width: 295px;
    height:55px;
    border-radius: 25px;
    padding: 2rem;
    margin-top:50px;
    text-align: center;

}
.container-conteudo{
    display:flex;
    justify-content:space-between;
    align-items:center;

}
footer{
    background-color: var(--cor-azul-claro);
    border-top: 15px solid var(--cor-azul-escuro);
    min-height:185px;
}
.frase-final img{
    margin-top:80px;
    margin-left:20px;
}

#titulo8{
    font-size:22px;
    margin-top:20px;
    margin-right:20px;
    color:var(--cor-fonte3);
}

.servicos1{
    background-color: var(--cor-amarelo-escuro);
    border-top:25px solid var(--cor-amarelo-escuro);
    border-bottom:45px solid var(--cor-amarelo-escuro);

}
.titulo1{
    background-color: var(--cor-laranja);
    width:320px;
    padding:1.3rem 5rem;
    border-radius:15px;
    margin-top:20px;
    margin-left:35px;
    margin-bottom:45px;
    color:var(--cor-fonte2);
}

#titulosservicos1{
    background-color: var(--cor-laranja);
    width:250px;
    min-height:40px;
    padding-top:1rem;
    margin-top:50px;
    margin-bottom: 30px;
    border-radius:10px;
    text-align: center;
}
#titulosservicos2{
    background-color: var(--cor-laranja);
    width:250px;
    min-height:40px;
    padding-top:1rem;
    margin-top:-162px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;

}
#titulosservicos3{
    background-color: var(--cor-laranja);
    width:250px;
    min-height:40px;
    padding-top:1rem;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
}
#titulosservicos4{
    background-color: var(--cor-laranja);
    width:250px;
    min-height:40px;
    padding-top:1rem;
    margin-top:20px;
    margin-bottom: 10px;
    margin-left: 13px;
    border-radius: 10px;
    text-align: center;
}
#titulosservicos5{
    background-color: var(--cor-laranja);
    width:250px;
    min-height:40px;
    padding-top:1rem;
    margin-top:-15px;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 10px;
    text-align: center;
}

#container p{
    margin-top:20px;
    margin-left:5px;

}
